
/* Style the font color. */

/* Style the background with a color or image. */

/* Adjust the spacing of your page. */

/* Adjust the positioning of your page.  */



* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #6d8a54;
    padding: 20px;
    font-family: Quicksand;
  }
  
  .heading{
    background-color: #abc991;
    color: #efeff2;
    padding: 1em;
  }
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  .h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .content {
    background-color: #abc991;
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }
.list {
  background-color: #abc991;
  margin: 20px;
  padding: 10px;
  color: white;
  border-radius: 10px
}
.unit6 {
  background-color: #abc991;
  margin: 20px;
  padding: 10px;
  color: white;
  border-radius: 10px
}
.unit5 {
  background-color: #abc991;
  margin: 20px;
  padding: 10px;
  color: white;
  border-radius: 10px
}
.unit4 {
  background-color: #abc991;
  margin: 20px;
  padding: 10px;
  color: white;
  border-radius: 10px
}
.unit3 {
  background-color: #77a880;
  margin: 20px;
  padding: 10px;
  color: white;
  border-radius: 10px
}


  .btn {
  outline: none;
  padding: 12px 16px;
  background-color: #6d8a54;
  cursor: pointer;
  margin-right: 20px
  border-radius: 500px;
  }
  
  nav {
    background-color: #abc991;
    padding: 10px;
    border-radius: 10px;
    display: flex
    justify-content: space-between;
  }
  
  footer {
    background-color: #abc991;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1em;
    border-radius: 10px;
  
  }
img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@font-face {
    font-family: 'Quicksand';
    src: url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
}
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}
